version: "3.9"

services:
  bot:
    build: .
    container_name: rqm-mods-bot
    network_mode: "host"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./assets:/app/assets:ro
